:root {
  --background_color: #f0ffff;
  --musicplayer_color: rgb(53, 44, 44);

  /* rgb(62, 60, 55); dark_mode_backround*/
}
.dark_mode {
  --background_color: #3e3c37;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background_color);
  transition: 300ms;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#bar {
  height: 140px;
  width: 400px;
  background-color: var(--musicplayer_color);
  border-radius: 30px;
  box-shadow: 2px 2px 100px rgb(22, 21, 21);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
  animation-name: spin;
  /* animation-duration: 5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite; */
  transition: 100ms;
}
img:hover {
  box-shadow: 2px 2px 10px black;
  height: 160px;
  width: 160px;
  transition: 200ms;
}

.fa-solid.fa-backward.fa-3x {
  background-color: var(--musicplayer_color);
  margin-left: 30px;

  cursor: pointer;
}
.fa-solid.fa-forward.fa-3x {
  background-color: var(--musicplayer_color);
  margin-right: 30px;
  cursor: pointer;
}

button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
